body {
    background: #FDEEDC;
    font-family: "Courier New", monospace;
    border: 10px solid #E38B29;
  }
  
  .heading {
    color: #E38B29;
  }
  
  .timer {
    color: #F1A661;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 8px solid #F1A661;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    width: 100%;
  }
  
  /* remove the padding on the play button */
  .btn {
    padding: 0;
  }
  
  .fa-play,
  .fa-redo-alt {
    color: #E38B29;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
  }
  
  .fa-play:hover,
  .fa-redo-alt:hover {
    color: #F1A661;
    border: 2px solid #FFD8A9;
    transition: 0.3s ease;
  }
  
  /* Dynamic class */
  /* Make the message visible */
  .show_message {
    display: block;
    padding: 1rem 0;
    color: #4c4480;
    background: #e3f6f5;
    border-radius: 0.5rem;
    transition: 0.5s ease;
  }